*.o
*.pyc
*.rproc
*.rproc.qsubout
*~
*.lo
*.mex
trinity/r2012-06-08/Inchworm/autom4te.cache/
trinity/r2012-06-08/Inchworm/config.log
trinity/r2012-06-08/Inchworm/src/.deps
trinity/r2012-06-08/trinity-plugins/jellyfish-1.1.5/config.log
trinity/r2012-06-08/trinity-plugins/jellyfish-1.1.5/jellyfish/.deps
trinity/r2012-06-08/trinity-plugins/jellyfish-1.1.5/unit_tests/.deps
trinity/r2012-06-08/trinity-plugins/jellyfish-1.1.5/unit_tests/gtest/src/.deps
trinity/r2012-06-08/trinity_out_dir
trinity/r2012-06-08/trinity-plugins/jellyfish-1.1.5/autom4te.cache/
palmapper/0.5/gmindex
palmapper/0.5/pmindex
palmapper/0.5/palmapper
trinity/r2012-06-08/Chrysalis/BreakTransByPairs
trinity/r2012-06-08/Chrysalis/Chrysalis
trinity/r2012-06-08/Chrysalis/GraphFromFasta
trinity/r2012-06-08/Chrysalis/IsoformAugment
trinity/r2012-06-08/Chrysalis/JoinTransByPairs
trinity/r2012-06-08/Chrysalis/MakeDepend
trinity/r2012-06-08/Chrysalis/QuantifyGraph
trinity/r2012-06-08/Chrysalis/ReadsToTranscripts
trinity/r2012-06-08/Chrysalis/RunButterfly
trinity/r2012-06-08/Chrysalis/TranscriptomeFromVaryK
trinity/r2012-06-08/Chrysalis/checkLock
palmapper/0.5/bwa
palmapper/0.5/genomemapper
palmapper/0.5/src/bwa/bwa
palmapper/0.5/src/bwa/bwt_gen/libbwtgen.a
palmapper/0.5/src/bwa/libbwa.a
bwa/0.6.2/bwa
bwa/0.6.2/libbwa.a
trinity/r2012-06-08/Inchworm/src/FastaToDeBruijn
trinity/r2012-06-08/Inchworm/src/ParaFly
trinity/r2012-06-08/Inchworm/src/cigar_tweaker
trinity/r2012-06-08/Inchworm/src/inchworm
trinity/r2012-06-08/Inchworm/src/pull_reads_with_kmers
trinity/r2012-06-08/trinity-plugins/fstrozzi-Fastool-16065e7/fastool
trinity/r2012-06-08/trinity-plugins/jellyfish-1.1.5/.libs/
trinity/r2012-06-08/trinity-plugins/jellyfish-1.1.5/bin/jellyfish
trinity/r2012-06-08/trinity-plugins/jellyfish-1.1.5/libjellyfish.la
trinity/r2012-06-08/trinity-plugins/rsem-1.1.19/rsem-for-ebseq-calculate-clustering-info
trinity/r2012-06-08/trinity-plugins/slclust/src/slclust
