*.o
*.pyc
*.rproc
*.rproc.qsubout
*~
*.lo
*.mex
Trinity/r2013_08_14/Inchworm/autom4te.cache/
Trinity/r2013_08_14/Inchworm/config.log
Trinity/r2013_08_14/Inchworm/src/.deps
Trinity/r2013_08_14/trinity-plugins/jellyfish-1.1.6/config.log
Trinity/r2013_08_14/trinity-plugins/jellyfish-1.1.6/jellyfish/.deps
Trinity/r2013_08_14/trinity-plugins/jellyfish-1.1.6/unit_tests/.deps
Trinity/r2013_08_14/trinity-plugins/jellyfish-1.1.6/unit_tests/gtest/src/.deps
Trinity/r2013_08_14/trinity_out_dir
Trinity/r2013_08_14/trinity-plugins/jellyfish-1.1.6/autom4te.cache/
PALMapper/0.5/gmindex
PALMapper/0.5/pmindex
PALMapper/0.5/palmapper
Trinity/r2013_08_14/Chrysalis/BreakTransByPairs
Trinity/r2013_08_14/Chrysalis/Chrysalis
Trinity/r2013_08_14/Chrysalis/GraphFromFasta
Trinity/r2013_08_14/Chrysalis/IsoformAugment
Trinity/r2013_08_14/Chrysalis/JoinTransByPairs
Trinity/r2013_08_14/Chrysalis/MakeDepend
Trinity/r2013_08_14/Chrysalis/QuantifyGraph
Trinity/r2013_08_14/Chrysalis/ReadsToTranscripts
Trinity/r2013_08_14/Chrysalis/RunButterfly
Trinity/r2013_08_14/Chrysalis/TranscriptomeFromVaryK
Trinity/r2013_08_14/Chrysalis/checkLock
PALMapper/0.5/bwa
PALMapper/0.5/genomemapper
PALMapper/0.5/src/bwa/bwa
PALMapper/0.5/src/bwa/bwt_gen/libbwtgen.a
PALMapper/0.5/src/bwa/libbwa.a
BWA/0.6.2/bwa
BWA/0.6.2/libbwa.a
Trinity/r2013_08_14/Inchworm/src/FastaToDeBruijn
Trinity/r2013_08_14/Inchworm/src/ParaFly
Trinity/r2013_08_14/Inchworm/src/cigar_tweaker
Trinity/r2013_08_14/Inchworm/src/inchworm
Trinity/r2013_08_14/Inchworm/src/pull_reads_with_kmers
Trinity/r2013_08_14/trinity-plugins/
